version: '3'

services:
  database:
    container_name: my_db
    image: postgres:14.5
    restart: on-failure
    ports:
      - "5555:5432"
    volumes:
      - shopping_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_PORT: ${DB_PORT}
      POSTGRES_HOST: ${DB_HOST}

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8888:8000"
    depends_on:
      - database
    command: sh run.sh
    volumes:
      - .:/app

volumes:
  shopping_db: